<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/layout.css') }}">

    <title>Home Page</title>

    <script src="../buttons.js"></script>

    <style>
      body {
        background-color: #C5F1D8;
      }
    </style>
  </head>

  <body>
    <div class="banner">
      <img id="logo" src="../download.png" alt="London Logo"></img>
    </div>

    <table>
        % for key, value in display.items() %}

        <tr>
          <th> {{ key }}</th>
          <td> {{ value }}</td>
        </tr>

      </table>

    <div id="root"></div>
  </body>
</html>