<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/layout.css') }}">

    <title>Questions</title>

    <script src="buttons.js"></script>

    <style>
      body {
        background-color: #C5F1D8;
      }
    </style>
  </head>

  <body>
    <div class="banner">
      <img id="logo" src="{{ url_for('static',filename='download.png') }}" alt="London Logo"></img>
    </div>

    <div class="block">
        <p>What do you want to see today?</p> 
    </div>

    <form name="sights" class="form-center">
        <input type="checkbox" id="choice1" name="choice1" value="Trees">
        <label for="choice1"> I want to see TREES</label><br>
        <input type="checkbox" id="choice2" name="choice2" value="Parks">
        <label for="choice2"> I want to go to a PARK</label><br>  
        <input type="checkbox" id="choice3" name="choice3" value="Trails">
        <label for="choice3"> I want to visit a TRAIL</label><br>
        <input type="checkbox" id="choice4" name="choice4" value="Art">
        <label for="choice4"> I want to see PUBLIC ART</label><br>       
    </form>

    <div class="block">
        <p>How far do you want to go?</p> 
    </div>

    <form name="distance" class="form-center" action="http://localhost:5000/display" method = "POST">
        <input type="radio" id="range1" name="distance" value="1">
        <label for="choice1"> 0 - 1 km</label><br>
        <input type="radio" id="range2" name="distance" value="3">
        <label for="choice2"> 1 - 3 km</label><br>  
        <input type="radio" id="range3" name="distance" value="5">
        <label for="choice3"> 3 - 5 km</label><br>
        <input type="radio" id="range4" name="distance" value="7">
        <label for="choice4"> 5 - 7 km</label><br>  
        <input type="radio" id="range4" name="distance" value="10">
        <label for="choice4"> 7 - 10 km</label><br>      
    </form>

    <div class="block">
        <button id="next"><a href="{{ url_for('display')}}">Show me path</a></button>
    </div>

  </body>
</html>