.banner {
    margin: 0%;
    padding: 30px;
    text-align: center;
    background: #317D59;
    color: black;
    font-size: 10px;
}

#logo {
    max-height: 100px;
    width: auto;
}

#b1 {
    padding: 20px;
}

.block {
    padding-top: 50px;
    text-align: center;
}

.form-center {
    padding-left: 45%;
}